In [78]:
import numpy as np
import pandas as pd

In [79]:
data_set = pd.read_csv('../data/TrueFX/EUR-USD/datos_procesados_5T_allFeatures_EURUSD-2018-01.csv', parse_dates=True,
                      infer_datetime_format=True,index_col=0)

In [80]:
data_set.head()

,open,high,low,close,mean,std,var,median,sem,ask
2018-01-02 00:00:00,1.20094,1.20094,1.20011,1.20015,1.200530,0.000318,1.010923e-07,1.200435,0.000085,1.20110
2018-01-02 00:05:00,1.20015,1.20062,1.20011,1.20047,1.200343,0.000142,2.027103e-08,1.200300,0.000024,1.20084
2018-01-02 00:10:00,1.20039,1.20098,1.20035,1.20082,1.200752,0.000180,3.255425e-08,1.200775,0.000024,1.20126
2018-01-02 00:15:00,1.20080,1.20097,1.20025,1.20035,1.200719,0.000258,6.650895e-08,1.200860,0.000027,1.20091
2018-01-02 00:20:00,1.20034,1.20057,1.20031,1.20049,1.200501,0.000046,2.122442e-09,1.200510,0.000003,1.20084

In [81]:
data_set.columns = ['open','high','low','bid','Mean','Std','variance','Median','Sem','ask']

In [82]:
%run ../code/PNLEstimatorWrapper.py
%run ../code/EUtilities.py
EU = EUtilities()

In [83]:
window = 7
X, y_reg, bt = EU.build_dataset(data_set,window=window,bid_col='bid',binary_target=True,PNL=True)
X.shape

(6245, 9)

In [84]:
X.head()

,0,1,2,3,4,5,6,PNL_0,PNL_1
2018-01-02 00:30:00,1.20015,1.20047,1.20082,1.20035,1.20049,1.20047,1.20079,-0.00076,0.00020
2018-01-02 00:35:00,1.20047,1.20082,1.20035,1.20049,1.20047,1.20079,1.20135,-0.00023,-0.00012
2018-01-02 00:40:00,1.20082,1.20035,1.20049,1.20047,1.20079,1.20135,1.20143,-0.00020,-0.00009
2018-01-02 00:45:00,1.20035,1.20049,1.20047,1.20079,1.20135,1.20143,1.20149,-0.00007,-0.00030
2018-01-02 00:50:00,1.20049,1.20047,1.20079,1.20135,1.20143,1.20149,1.20133,-0.00028,-0.00018

In [85]:
X['open'] = data_set.filter(X.index,axis=0).open
X['high'] = data_set.filter(X.index,axis=0).high
X['low'] = data_set.filter(X.index,axis=0).low
X['mean'] = data_set.filter(X.index,axis=0).Mean
#X['std'] = data_set.filter(X.index,axis=0).Std
X['variance'] = data_set.filter(X.index,axis=0).variance
X['median'] = data_set.filter(X.index,axis=0).Median
#X['sem'] = data_set.filter(X.index,axis=0).Sem

0.001535

In [86]:
X.head()

,0,1,2,3,4,5,6,PNL_0,PNL_1,open,high,low,mean,variance,median
2018-01-02 00:30:00,1.20015,1.20047,1.20082,1.20035,1.20049,1.20047,1.20079,-0.00076,0.00020,1.20048,1.20093,1.20045,1.200573,1.474732e-08,1.200550
2018-01-02 00:35:00,1.20047,1.20082,1.20035,1.20049,1.20047,1.20079,1.20135,-0.00023,-0.00012,1.20079,1.20163,1.20073,1.201144,6.080010e-08,1.201115
2018-01-02 00:40:00,1.20082,1.20035,1.20049,1.20047,1.20079,1.20135,1.20143,-0.00020,-0.00009,1.20129,1.20145,1.20129,1.201344,1.710837e-09,1.201330
2018-01-02 00:45:00,1.20035,1.20049,1.20047,1.20079,1.20135,1.20143,1.20149,-0.00007,-0.00030,1.20143,1.20150,1.20134,1.201427,2.820158e-09,1.201430
2018-01-02 00:50:00,1.20049,1.20047,1.20079,1.20135,1.20143,1.20149,1.20133,-0.00028,-0.00018,1.20150,1.20150,1.20131,1.201361,3.642290e-09,1.201330

In [87]:
def compute_class_weigth(y):
    u = np.unique(y)
    r = {}
    for i in range(len(u)):
        r[i] = sum(u[0]==y)/sum(u[i]==y)
        
    return r

[         0,          1,          2,          3,          4,          5,
                6,    'PNL_0',    'PNL_1',     'open',     'high',      'low',
           'mean', 'variance',   'median']

In [88]:
X.columns

Index([         0,          1,          2,          3,          4,          5,
                6,    'PNL_0',    'PNL_1',     'open',     'high',      'low',
           'mean', 'variance',   'median'],
      dtype='object')

In [89]:
X.head()

,0,1,2,3,4,5,6,PNL_0,PNL_1,open,high,low,mean,variance,median
2018-01-02 00:30:00,1.20015,1.20047,1.20082,1.20035,1.20049,1.20047,1.20079,-0.00076,0.00020,1.20048,1.20093,1.20045,1.200573,1.474732e-08,1.200550
2018-01-02 00:35:00,1.20047,1.20082,1.20035,1.20049,1.20047,1.20079,1.20135,-0.00023,-0.00012,1.20079,1.20163,1.20073,1.201144,6.080010e-08,1.201115
2018-01-02 00:40:00,1.20082,1.20035,1.20049,1.20047,1.20079,1.20135,1.20143,-0.00020,-0.00009,1.20129,1.20145,1.20129,1.201344,1.710837e-09,1.201330
2018-01-02 00:45:00,1.20035,1.20049,1.20047,1.20079,1.20135,1.20143,1.20149,-0.00007,-0.00030,1.20143,1.20150,1.20134,1.201427,2.820158e-09,1.201430
2018-01-02 00:50:00,1.20049,1.20047,1.20079,1.20135,1.20143,1.20149,1.20133,-0.00028,-0.00018,1.20150,1.20150,1.20131,1.201361,3.642290e-09,1.201330

In [90]:
X = X.drop('std', axis=1)

ValueError: labels ['std'] not contained in axis

In [91]:
X = X.fillna(1)

In [92]:
from sklearn.naive_bayes import GaussianNB
    
y = bt
n_bdtrain = 4
n_bdtest = 1
mday = 1
wc0 = 0.06 #peso de la clase 0
wc1 = 0.06 #peso de la clase 1
wc2 = 0.44 #peso de la clase 2
wc3 = 0.44 #peso de la clase 3
#para indexar el dataframe por las fechas
dates = np.unique(X.index.date)[n_bdtrain:]
est_GNB = PNLEstimatorWrapper(GaussianNB(priors=(wc0,wc1,wc2,wc3)), PNL_column=['PNL_0','PNL_1'])
result_GNB = EU.step_validation(est_GNB, X, y, EU.v_split(X,n_bdtrain,n_bdtest,mday))
result_GNB, predict_GNB = EU.redim(result_GNB)

df_GNB = pd.DataFrame(result_GNB, columns=list(['PNL','buys','sells','longest_buys','longest_sells'
                                                ,'%correct_1','%correct_0','%correct_3','%correct_2','%total'])
                      , index=dates)

df_GNB = df_GNB.dropna()

print('--------- GaussianNB 5T ----------------')
print('average PNL : ', np.mean(df_GNB.iloc[:,0]))
print('average buy: ', np.mean(df_GNB.iloc[:,1]))
print('average sell: ', np.mean(df_GNB.iloc[:,2]))
print('longest_buy: ', np.max(df_GNB.iloc[:,3]))
print('longest_sell: ', np.max(df_GNB.iloc[:,4]))
print('%correct_1: ', np.mean(df_GNB.iloc[:,5]))
print('%correct_0: ', np.mean(df_GNB.iloc[:,6]))
print('%correct_3: ', np.mean(df_GNB.iloc[:,7]))
print('%correct_2: ', np.mean(df_GNB.iloc[:,8]))
print('% correct total: ', np.mean(df_GNB.iloc[:,9]))
print('-------------------------------------')


wc0 = np.ones(df_GNB.shape[0])*wc0
wc1 = np.ones(df_GNB.shape[0])*wc1
wc2 = np.ones(df_GNB.shape[0])*wc2
wc3 = np.ones(df_GNB.shape[0])*wc3

df_GNB.insert(loc=10,column='wc0',value=wc0)
df_GNB.insert(loc=11,column='wc1',value=wc1)
df_GNB.insert(loc=12,column='wc2',value=wc2)
df_GNB.insert(loc=13,column='wc3',value=wc3)

print(df_GNB)

--------- GaussianNB 5T ----------------
average PNL :  -0.0015352631578950248
average buy:  164.73684210526315
average sell:  104.63157894736842
longest_buy:  285.0
longest_sell:  287.0
%correct_1:  0.3483028837912764
%correct_0:  0.05629453364169886
%correct_3:  0.24125879878336465
%correct_2:  0.37341909398696105
% correct total:  0.22019117911589886
-------------------------------------
                PNL   buys  sells  longest_buys  longest_sells  %correct_1  \
2018-01-08  0.00000  227.0   54.0           0.0          281.0    0.000000
2018-01-09 -0.01253  281.0    0.0         281.0            0.0    1.000000
2018-01-10 -0.00525  245.0   38.0         149.0           67.0    0.785047
2018-01-11  0.00469  171.0  110.0          25.0          112.0    0.102362
2018-01-12  0.00299  154.0  129.0         153.0          126.0    0.588652
2018-01-15 -0.00505  280.0    0.0         280.0            0.0    1.000000
2018-01-16  0.00000    0.0  283.0           0.0          283.0    0.000000
2018-01-17  0.00000    0.0  287.0           0.0          287.0    0.000000
2018-01-18  0.00153  205.0   80.0         161.0           28.0    0.765625
2018-01-19 -0.00414  105.0  180.0          75.0          150.0    0.376068
2018-01-22  0.00000  280.0    0.0           0.0          280.0    0.000000
2018-01-23  0.00000  245.0   36.0           0.0          281.0    0.000000
2018-01-24  0.00045  283.0    0.0         283.0            0.0    1.000000
2018-01-25 -0.01368  285.0    0.0         285.0            0.0    1.000000
2018-01-26  0.00162  176.0  111.0           0.0          287.0    0.000000
2018-01-29  0.00000   34.0  249.0           0.0          283.0    0.000000
2018-01-30  0.00180   54.0  225.0           0.0          279.0    0.000000
2018-01-31 -0.00160  105.0  182.0           0.0          287.0    0.000000
2018-02-01  0.00000    0.0   24.0           0.0           24.0    0.000000

            %correct_0  %correct_3  %correct_2    %total   wc0   wc1   wc2  \
2018-01-08    0.000000    0.750000    0.500000  0.088968  0.06  0.06  0.44
2018-01-09    0.000000    0.000000    0.000000  0.430605  0.06  0.06  0.44
2018-01-10    0.000000    0.045455    0.058824  0.303887  0.06  0.06  0.44
2018-01-11    0.000000    0.695652    0.285714  0.117438  0.06  0.06  0.44
2018-01-12    0.000000    0.000000    0.631579  0.335689  0.06  0.06  0.44
2018-01-15    0.000000    0.000000    0.000000  0.435714  0.06  0.06  0.44
2018-01-16    0.000000    0.000000    1.000000  0.077739  0.06  0.06  0.44
2018-01-17    0.000000    0.000000    1.000000  0.052265  0.06  0.06  0.44
2018-01-18    0.000000    0.000000    0.111111  0.350877  0.06  0.06  0.44
2018-01-19    0.000000    0.000000    0.562500  0.185965  0.06  0.06  0.44
2018-01-22    0.000000    1.000000    0.000000  0.035714  0.06  0.06  0.44
2018-01-23    0.000000    0.888889    0.062500  0.060498  0.06  0.06  0.44
2018-01-24    0.000000    0.000000    0.000000  0.477032  0.06  0.06  0.44
2018-01-25    0.000000    0.000000    0.000000  0.438596  0.06  0.06  0.44
2018-01-26    0.456693    0.583333    0.000000  0.226481  0.06  0.06  0.44
2018-01-29    0.000000    0.100000    0.941176  0.063604  0.06  0.06  0.44
2018-01-30    0.040323    0.050000    0.727273  0.050179  0.06  0.06  0.44
2018-01-31    0.572581    0.470588    0.214286  0.285714  0.06  0.06  0.44
2018-02-01    0.000000    0.000000    1.000000  0.166667  0.06  0.06  0.44

             wc3
2018-01-08  0.44
2018-01-09  0.44
2018-01-10  0.44
2018-01-11  0.44
2018-01-12  0.44
2018-01-15  0.44
2018-01-16  0.44
2018-01-17  0.44
2018-01-18  0.44
2018-01-19  0.44
2018-01-22  0.44
2018-01-23  0.44
2018-01-24  0.44
2018-01-25  0.44
2018-01-26  0.44
2018-01-29  0.44
2018-01-30  0.44
2018-01-31  0.44
2018-02-01  0.44

/home/edwin/Documentos/Proyecto de grado/code/PNLEstimatorWrapper.py:30: RuntimeWarning: invalid value encountered in long_scalars
  percent_1 = sum((pre==1)*(y==1))/sum(y==1) # si sube y gano
/home/edwin/Documentos/Proyecto de grado/code/PNLEstimatorWrapper.py:31: RuntimeWarning: invalid value encountered in long_scalars
  percent_0 = sum((pre==0)*(y==0))/sum(y==0) # si baja y gano
/home/edwin/Documentos/Proyecto de grado/code/PNLEstimatorWrapper.py:33: RuntimeWarning: invalid value encountered in long_scalars
  percent_2 = sum((pre==2)*(y==2))/sum(y==2) # si baja y pierdo
/home/edwin/Documentos/Proyecto de grado/code/PNLEstimatorWrapper.py:32: RuntimeWarning: invalid value encountered in long_scalars
  percent_3 = sum((pre==3)*(y==3))/sum(y==3) # si sube y pierdo

In [93]:
from sklearn.neighbors import KNeighborsClassifier

est_KNC = PNLEstimatorWrapper(KNeighborsClassifier(n_neighbors=7,n_jobs=2,leaf_size=30
                                                   ,algorithm='kd_tree',weights='distance'), PNL_column=['PNL_0','PNL_1'])
result_KNC = EU.step_validation(est_KNC, X, y, EU.v_split(X,n_bdtrain,n_bdtest,mday))
result_KNC, predict_KNC = EU.redim(result_KNC)
df_KNC = pd.DataFrame(result_KNC, columns=list(['PNL','buys','sells','longest_buys','longest_sells'
                                                ,'%correct_1','%correct_0','%correct_3','%correct_2','%total'])
                      , index=dates)

df_KNC = df_KNC.dropna()

print('--------- KNeighbors 5T ----------------')
print('average PNL : ', np.mean(df_KNC.iloc[:,0]))
print('average buy: ', np.mean(df_KNC.iloc[:,1]))
print('average sell: ', np.mean(df_KNC.iloc[:,2]))
print('longest_buy: ', np.max(df_KNC.iloc[:,3]))
print('longest_sell: ', np.max(df_KNC.iloc[:,4]))
print('%correct_1: ', np.mean(df_KNC.iloc[:,5]))
print('%correct_0: ', np.mean(df_KNC.iloc[:,6]))
print('%correct_3: ', np.mean(df_KNC.iloc[:,7]))
print('%correct_2: ', np.mean(df_KNC.iloc[:,8]))
print('% correct total: ', np.mean(df_KNC.iloc[:,9]))
print('-------------------------------------')

wc0 = 'distance'
wc1 = 'distance'
wc2 = 'distance'
wc3 = 'distance'

df_KNC.insert(loc=10,column='wc0',value=wc0)
df_KNC.insert(loc=11,column='wc1',value=wc1)
df_KNC.insert(loc=12,column='wc2',value=wc2)
df_KNC.insert(loc=13,column='wc3',value=wc3)

print(df_KNC)

/home/edwin/Documentos/Proyecto de grado/code/PNLEstimatorWrapper.py:30: RuntimeWarning: invalid value encountered in long_scalars
  percent_1 = sum((pre==1)*(y==1))/sum(y==1) # si sube y gano
/home/edwin/Documentos/Proyecto de grado/code/PNLEstimatorWrapper.py:31: RuntimeWarning: invalid value encountered in long_scalars
  percent_0 = sum((pre==0)*(y==0))/sum(y==0) # si baja y gano
/home/edwin/Documentos/Proyecto de grado/code/PNLEstimatorWrapper.py:33: RuntimeWarning: invalid value encountered in long_scalars
  percent_2 = sum((pre==2)*(y==2))/sum(y==2) # si baja y pierdo
/home/edwin/Documentos/Proyecto de grado/code/PNLEstimatorWrapper.py:32: RuntimeWarning: invalid value encountered in long_scalars
  percent_3 = sum((pre==3)*(y==3))/sum(y==3) # si sube y pierdo

--------- KNeighbors 5T ----------------
average PNL :  -0.012937368421053044
average buy:  133.42105263157896
average sell:  135.94736842105263
longest_buy:  176.0
longest_sell:  176.0
%correct_1:  0.47726631539882686
%correct_0:  0.502675615727352
%correct_3:  0.014624505928853756
%correct_2:  0.03743809283975489
% correct total:  0.4196544129511034
-------------------------------------
                PNL   buys  sells  longest_buys  longest_sells  %correct_1  \
2018-01-08 -0.01619  228.0   53.0         176.0           13.0    0.792793
2018-01-09 -0.01249  261.0   20.0         168.0            5.0    0.942149
2018-01-10 -0.01196  114.0  169.0          21.0           47.0    0.364486
2018-01-11 -0.01748   82.0  199.0           5.0           23.0    0.228346
2018-01-12 -0.02276   28.0  255.0           3.0          176.0    0.085106
2018-01-15 -0.00361  206.0   74.0          42.0            9.0    0.729508
2018-01-16 -0.01611  143.0  140.0          18.0           14.0    0.511628
2018-01-17 -0.02613  169.0  118.0          23.0           38.0    0.538462
2018-01-18 -0.00840  207.0   78.0          28.0            7.0    0.726562
2018-01-19 -0.00621  149.0  136.0           9.0           12.0    0.529915
2018-01-22 -0.01809  139.0  141.0          17.0           16.0    0.428571
2018-01-23 -0.00822   79.0  202.0           6.0           79.0    0.275591
2018-01-24 -0.01599   25.0  258.0          10.0          164.0    0.081481
2018-01-25 -0.00219   50.0  235.0           8.0           76.0    0.200000
2018-01-26 -0.02052  138.0  149.0          21.0           47.0    0.463235
2018-01-29 -0.00724  197.0   86.0          22.0            9.0    0.713115
2018-01-30 -0.01167  159.0  120.0          19.0            8.0    0.604839
2018-01-31 -0.01858  147.0  140.0          17.0           14.0    0.477273
2018-02-01 -0.00197   14.0   10.0           7.0            5.0    0.375000

            %correct_0  %correct_3  %correct_2    %total       wc0       wc1  \
2018-01-08    0.153846    0.000000    0.000000  0.384342  distance  distance
2018-01-09    0.083333    0.000000    0.000000  0.441281  distance  distance
2018-01-10    0.613139    0.090909    0.000000  0.441696  distance  distance
2018-01-11    0.658120    0.086957    0.000000  0.384342  distance  distance
2018-01-12    0.904348    0.000000    0.105263  0.416961  distance  distance
2018-01-15    0.142857    0.000000    0.266667  0.403571  distance  distance
2018-01-16    0.386555    0.000000    0.272727  0.416961  distance  distance
2018-01-17    0.367188    0.000000    0.066667  0.411150  distance  distance
2018-01-18    0.307087    0.000000    0.000000  0.463158  distance  distance
2018-01-19    0.478571    0.000000    0.000000  0.452632  distance  distance
2018-01-22    0.460938    0.100000    0.000000  0.407143  distance  distance
2018-01-23    0.725000    0.000000    0.000000  0.434164  distance  distance
2018-01-24    0.948718    0.000000    0.000000  0.431095  distance  distance
2018-01-25    0.857143    0.000000    0.000000  0.466667  distance  distance
2018-01-26    0.488189    0.000000    0.000000  0.435540  distance  distance
2018-01-29    0.322581    0.000000    0.000000  0.448763  distance  distance
2018-01-30    0.435484    0.000000    0.000000  0.462366  distance  distance
2018-01-31    0.467742    0.000000    0.000000  0.421603  distance  distance
2018-02-01    0.750000    0.000000    0.000000  0.250000  distance  distance

                 wc2       wc3
2018-01-08  distance  distance
2018-01-09  distance  distance
2018-01-10  distance  distance
2018-01-11  distance  distance
2018-01-12  distance  distance
2018-01-15  distance  distance
2018-01-16  distance  distance
2018-01-17  distance  distance
2018-01-18  distance  distance
2018-01-19  distance  distance
2018-01-22  distance  distance
2018-01-23  distance  distance
2018-01-24  distance  distance
2018-01-25  distance  distance
2018-01-26  distance  distance
2018-01-29  distance  distance
2018-01-30  distance  distance
2018-01-31  distance  distance
2018-02-01  distance  distance

In [29]:
from sklearn.tree import DecisionTreeClassifier


wc0 = 0.2 #peso de la clase 0
wc1 = 0.2 #peso de la clase 1
wc2 = 0.3 #peso de la clase 2
wc3 = 0.3 #peso de la clase 3
est_DTC = PNLEstimatorWrapper(DecisionTreeClassifier(class_weight={0:wc0,1:wc1,2:wc2,3:wc3})
                              , PNL_column=['PNL_0','PNL_1'])
result_DTC = EU.step_validation(est_DTC, X, y, EU.v_split(X,n_bdtrain,n_bdtest,mday))
result_DTC, predict_DTC = EU.redim(result_DTC)
df_DTC = pd.DataFrame(result_DTC, columns=list(['PNL','buys','sells','longest_buys','longest_sells'
                                                ,'%correct_1','%correct_0','%correct_3','%correct_2','%total'])
                      , index=dates)

df_DTC = df_DTC.dropna()

print('--------- GaussianNB 5T ----------------')
print('average PNL : ', np.mean(df_DTC.iloc[:,0]))
print('average buy: ', np.mean(df_DTC.iloc[:,1]))
print('average sell: ', np.mean(df_DTC.iloc[:,2]))
print('longest_buy: ', np.max(df_DTC.iloc[:,3]))
print('longest_sell: ', np.max(df_DTC.iloc[:,4]))
print('%correct_1: ', np.mean(df_DTC.iloc[:,5]))
print('%correct_0: ', np.mean(df_DTC.iloc[:,6]))
print('%correct_3: ', np.mean(df_DTC.iloc[:,7]))
print('%correct_2: ', np.mean(df_DTC.iloc[:,8]))
print('% correct total: ', np.mean(df_DTC.iloc[:,9]))
print('-------------------------------------')


wc0 = np.ones(df_DTC.shape[0])*wc0
wc1 = np.ones(df_DTC.shape[0])*wc1
wc2 = np.ones(df_DTC.shape[0])*wc2
wc3 = np.ones(df_DTC.shape[0])*wc3

df_DTC.insert(loc=10,column='wc0',value=wc0)
df_DTC.insert(loc=11,column='wc1',value=wc1)
df_DTC.insert(loc=12,column='wc2',value=wc2)
df_DTC.insert(loc=13,column='wc3',value=wc3)


print(df_DTC)

/home/edwin/Documentos/Proyecto de grado/code/PNLEstimatorWrapper.py:30: RuntimeWarning: invalid value encountered in long_scalars
  percent_1 = sum((pre==1)*(y==1))/sum(y==1) # si sube y gano
/home/edwin/Documentos/Proyecto de grado/code/PNLEstimatorWrapper.py:31: RuntimeWarning: invalid value encountered in long_scalars
  percent_0 = sum((pre==0)*(y==0))/sum(y==0) # si baja y gano
/home/edwin/Documentos/Proyecto de grado/code/PNLEstimatorWrapper.py:33: RuntimeWarning: invalid value encountered in long_scalars
  percent_2 = sum((pre==2)*(y==2))/sum(y==2) # si baja y pierdo
/home/edwin/Documentos/Proyecto de grado/code/PNLEstimatorWrapper.py:32: RuntimeWarning: invalid value encountered in long_scalars
  percent_3 = sum((pre==3)*(y==3))/sum(y==3) # si sube y pierdo

--------- GaussianNB 5T ----------------
average PNL :  -0.006865263157895748
average buy:  151.0
average sell:  118.36842105263158
longest_buy:  52.0
longest_sell:  80.0
%correct_1:  0.45393470398524327
%correct_0:  0.37416377938600776
%correct_3:  0.17839156358295433
%correct_2:  0.07564612347079351
% correct total:  0.38518831820655863
-------------------------------------
                PNL   buys  sells  longest_buys  longest_sells  %correct_1  \
2018-01-08 -0.00586  135.0  146.0           7.0           18.0    0.450450
2018-01-09 -0.00758  207.0   74.0          41.0           11.0    0.677686
2018-01-10 -0.01156   94.0  189.0           5.0           22.0    0.308411
2018-01-11 -0.00952  138.0  143.0           5.0           14.0    0.456693
2018-01-12 -0.00628  194.0   89.0          33.0           28.0    0.645390
2018-01-15 -0.00333  263.0   17.0           8.0           80.0    0.163934
2018-01-16 -0.00345  179.0  104.0          16.0           12.0    0.620155
2018-01-17 -0.01336  169.0  118.0          14.0           23.0    0.500000
2018-01-18 -0.00649  190.0   95.0          13.0           29.0    0.515625
2018-01-19 -0.00774  133.0  152.0           5.0           10.0    0.410256
2018-01-22 -0.01009  134.0  146.0          10.0           14.0    0.476190
2018-01-23 -0.00835   99.0  182.0           7.0           79.0    0.267717
2018-01-24 -0.00069  244.0   39.0          52.0           12.0    0.740741
2018-01-25  0.01072   70.0  215.0           7.0           74.0    0.232000
2018-01-26 -0.02047  141.0  146.0          10.0           23.0    0.397059
2018-01-29 -0.00851  166.0  117.0          12.0            7.0    0.590164
2018-01-30 -0.00681  142.0  137.0           8.0           17.0    0.467742
2018-01-31 -0.00866  159.0  128.0           9.0            8.0    0.454545
2018-02-01 -0.00241   12.0   12.0           2.0            5.0    0.250000

            %correct_0  %correct_3  %correct_2    %total  wc0  wc1  wc2  wc3
2018-01-08    0.461538    0.200000    0.100000  0.412811  0.2  0.2  0.3  0.3
2018-01-09    0.116667    0.315789    0.142857  0.373665  0.2  0.2  0.3  0.3
2018-01-10    0.583942    0.136364    0.176471  0.420495  0.2  0.2  0.3  0.3
2018-01-11    0.401709    0.173913    0.142857  0.395018  0.2  0.2  0.3  0.3
2018-01-12    0.260870    0.000000    0.052632  0.431095  0.2  0.2  0.3  0.3
2018-01-15    0.000000    0.625000    0.066667  0.114286  0.2  0.2  0.3  0.3
2018-01-16    0.336134    0.384615    0.090909  0.448763  0.2  0.2  0.3  0.3
2018-01-17    0.359375    0.000000    0.000000  0.386760  0.2  0.2  0.3  0.3
2018-01-18    0.259843    0.166667    0.000000  0.354386  0.2  0.2  0.3  0.3
2018-01-19    0.478571    0.000000    0.187500  0.414035  0.2  0.2  0.3  0.3
2018-01-22    0.507812    0.100000    0.062500  0.453571  0.2  0.2  0.3  0.3
2018-01-23    0.616667    0.111111    0.000000  0.391459  0.2  0.2  0.3  0.3
2018-01-24    0.119658    0.400000    0.000000  0.431095  0.2  0.2  0.3  0.3
2018-01-25    0.793651    0.058824    0.000000  0.456140  0.2  0.2  0.3  0.3
2018-01-26    0.409449    0.083333    0.083333  0.376307  0.2  0.2  0.3  0.3
2018-01-29    0.330645    0.050000    0.058824  0.406360  0.2  0.2  0.3  0.3
2018-01-30    0.403226    0.150000    0.272727  0.408602  0.2  0.2  0.3  0.3
2018-01-31    0.419355    0.058824    0.000000  0.393728  0.2  0.2  0.3  0.3
2018-02-01    0.250000    0.375000    0.000000  0.250000  0.2  0.2  0.3  0.3