In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/TrueFX/EUR-USD/EURUSD-2018-01.csv',index_col=1,parse_dates=True,
                 infer_datetime_format=True, names=['ref','bid','ask'])

In [3]:
print(df.shape)
df.head()

(3952896, 3)

                             ref      bid      ask
2018-01-01 22:01:01.051  EUR/USD  1.20094  1.20116
2018-01-01 22:01:01.158  EUR/USD  1.20093  1.20115
2018-01-01 22:01:11.676  EUR/USD  1.20093  1.20111
2018-01-01 22:01:18.116  EUR/USD  1.20082  1.20111
2018-01-01 22:01:32.023  EUR/USD  1.20043  1.20070

In [4]:
df = df.groupby(df.index).first()
df.shape

(3949821, 3)

In [5]:
pd.unique(df.index.date)

array([datetime.date(2018, 1, 1), datetime.date(2018, 1, 2),
       datetime.date(2018, 1, 3), datetime.date(2018, 1, 4),
       datetime.date(2018, 1, 5), datetime.date(2018, 1, 7),
       datetime.date(2018, 1, 8), datetime.date(2018, 1, 9),
       datetime.date(2018, 1, 10), datetime.date(2018, 1, 11),
       datetime.date(2018, 1, 12), datetime.date(2018, 1, 14),
       datetime.date(2018, 1, 15), datetime.date(2018, 1, 16),
       datetime.date(2018, 1, 17), datetime.date(2018, 1, 18),
       datetime.date(2018, 1, 19), datetime.date(2018, 1, 21),
       datetime.date(2018, 1, 22), datetime.date(2018, 1, 23),
       datetime.date(2018, 1, 24), datetime.date(2018, 1, 25),
       datetime.date(2018, 1, 26), datetime.date(2018, 1, 28),
       datetime.date(2018, 1, 29), datetime.date(2018, 1, 30),
       datetime.date(2018, 1, 31)], dtype=object)

In [6]:
print(df['2018-1-7'].index[0],'|',df['2018-1-7'].index[-1],'|',df['2018-1-7'].index[-1] - df['2018-1-7'].index[0])
print()
print(df['2018-1-14'].index[0],'|',df['2018-1-14'].index[-1],'|',df['2018-1-14'].index[-1] - df['2018-1-14'].index[0])
print()
print(df['2018-1-21'].index[0],'|',df['2018-1-21'].index[-1],'|',df['2018-1-21'].index[-1] - df['2018-1-21'].index[0])
print()
print(df['2018-1-28'].index[0],'|',df['2018-1-28'].index[-1],'|',df['2018-1-28'].index[-1] - df['2018-1-28'].index[0])

2018-01-07 22:04:39.310000 | 2018-01-07 23:59:56.771000 | 0 days 01:55:17.461000

2018-01-14 22:03:06.005000 | 2018-01-14 23:59:58.050000 | 0 days 01:56:52.045000

2018-01-21 22:04:56.639000 | 2018-01-21 23:59:53.724000 | 0 days 01:54:57.085000

2018-01-28 22:04:51.632000 | 2018-01-28 23:59:58.998000 | 0 days 01:55:07.366000

In [7]:
df['2018-1-7'].index[-1] - df['2018-1-7'].index[0]

Timedelta('0 days 01:55:17.461000')

In [8]:
#para correr los dias, quedan 5 bussines day
df.index = df.index + pd.Timedelta(hours=1, minutes=56, seconds=52.046)

In [9]:
pd.unique(df.index.date)

array([datetime.date(2018, 1, 1), datetime.date(2018, 1, 2),
       datetime.date(2018, 1, 3), datetime.date(2018, 1, 4),
       datetime.date(2018, 1, 5), datetime.date(2018, 1, 8),
       datetime.date(2018, 1, 9), datetime.date(2018, 1, 10),
       datetime.date(2018, 1, 11), datetime.date(2018, 1, 12),
       datetime.date(2018, 1, 14), datetime.date(2018, 1, 15),
       datetime.date(2018, 1, 16), datetime.date(2018, 1, 17),
       datetime.date(2018, 1, 18), datetime.date(2018, 1, 19),
       datetime.date(2018, 1, 22), datetime.date(2018, 1, 23),
       datetime.date(2018, 1, 24), datetime.date(2018, 1, 25),
       datetime.date(2018, 1, 26), datetime.date(2018, 1, 29),
       datetime.date(2018, 1, 30), datetime.date(2018, 1, 31),
       datetime.date(2018, 2, 1)], dtype=object)

In [10]:
df_pro = df.bid.resample('5T', loffset='5T').ohlc().dropna()
target = df.ask.resample('5T', loffset='5T').last().dropna()

In [11]:
df_pro.head()

                        open     high      low    close
2018-01-02 00:00:00  1.20094  1.20094  1.20011  1.20015
2018-01-02 00:05:00  1.20015  1.20062  1.20011  1.20047
2018-01-02 00:10:00  1.20039  1.20098  1.20035  1.20082
2018-01-02 00:15:00  1.20080  1.20097  1.20025  1.20035
2018-01-02 00:20:00  1.20034  1.20057  1.20031  1.20049

In [12]:
df_pro['mean'] = df.bid.resample('5T', loffset='5T').mean().dropna()

In [13]:
df_pro['std'] = df.bid.resample('5T', loffset='5T').std().dropna()

In [14]:
df_pro['var'] = df.bid.resample('5T', loffset='5T').var().dropna()

In [15]:
df_pro['median'] = df.bid.resample('5T', loffset='5T').median().dropna()

In [16]:
df_pro['sem'] = df.bid.resample('5T', loffset='5T').sem().dropna()

In [17]:
df_pro.head()

,open,high,low,close,mean,std,var,median,sem
2018-01-02 00:00:00,1.20094,1.20094,1.20011,1.20015,1.200530,0.000318,1.010923e-07,1.200435,0.000085
2018-01-02 00:05:00,1.20015,1.20062,1.20011,1.20047,1.200343,0.000142,2.027103e-08,1.200300,0.000024
2018-01-02 00:10:00,1.20039,1.20098,1.20035,1.20082,1.200752,0.000180,3.255425e-08,1.200775,0.000024
2018-01-02 00:15:00,1.20080,1.20097,1.20025,1.20035,1.200719,0.000258,6.650895e-08,1.200860,0.000027
2018-01-02 00:20:00,1.20034,1.20057,1.20031,1.20049,1.200501,0.000046,2.122442e-09,1.200510,0.000003

In [18]:
df_pro['ask'] = target

In [19]:
df_pro.head()

,open,high,low,close,mean,std,var,median,sem,ask
2018-01-02 00:00:00,1.20094,1.20094,1.20011,1.20015,1.200530,0.000318,1.010923e-07,1.200435,0.000085,1.20110
2018-01-02 00:05:00,1.20015,1.20062,1.20011,1.20047,1.200343,0.000142,2.027103e-08,1.200300,0.000024,1.20084
2018-01-02 00:10:00,1.20039,1.20098,1.20035,1.20082,1.200752,0.000180,3.255425e-08,1.200775,0.000024,1.20126
2018-01-02 00:15:00,1.20080,1.20097,1.20025,1.20035,1.200719,0.000258,6.650895e-08,1.200860,0.000027,1.20091
2018-01-02 00:20:00,1.20034,1.20057,1.20031,1.20049,1.200501,0.000046,2.122442e-09,1.200510,0.000003,1.20084

In [20]:
df_pro.to_csv('../data/TrueFX/EUR-USD/datos_procesados_5T_allFeatures_EURUSD-2018-01.csv')