In [33]:
import pandas as pd
import numpy as np

In [34]:
data_train = pd.read_csv('./data_guane/EUR-USD_procesados_OHLC_1T_2017-1_2017-5.csv',index_col=0,
                         parse_dates=True, infer_datetime_format=True)

In [35]:
print(data_train.shape)
data_train.head()

(30468, 5)

                        open     high      low      bid       ask
2017-01-02 00:05:00  1.05230  1.05230  1.05153  1.05196  1.052991
2017-01-02 00:10:00  1.05196  1.05203  1.05153  1.05201  1.052955
2017-01-02 00:15:00  1.05201  1.05202  1.05187  1.05196  1.052957
2017-01-02 00:20:00  1.05196  1.05196  1.05185  1.05196  1.052988
2017-01-02 00:25:00  1.05196  1.05198  1.05185  1.05196  1.052955

In [36]:
%run ../../code/EUtilities.py
EU = EUtilities()

In [37]:
window = 100
X_train, y_train_reg, bt_train = EU.build_dataset(data_train, window=window, bid_col='bid', binary_target=True, PNL=True)

In [38]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,PNL_0,PNL_1
2017-01-02 08:20:00,1.05196,1.05201,1.05196,1.05196,1.05196,1.05201,1.05195,1.05195,1.05195,1.05195,...,1.05181,1.05155,1.05140,1.05138,1.05167,1.05149,1.05153,1.05085,-0.000493,-0.000057
2017-01-02 08:25:00,1.05201,1.05196,1.05196,1.05196,1.05201,1.05195,1.05195,1.05195,1.05195,1.05183,...,1.05155,1.05140,1.05138,1.05167,1.05149,1.05153,1.05085,1.05120,-0.000102,-0.000293
2017-01-02 08:30:00,1.05196,1.05196,1.05196,1.05201,1.05195,1.05195,1.05195,1.05195,1.05183,1.05195,...,1.05140,1.05138,1.05167,1.05149,1.05153,1.05085,1.05120,1.05105,-0.000609,-0.000242
2017-01-02 08:35:00,1.05196,1.05196,1.05201,1.05195,1.05195,1.05195,1.05195,1.05183,1.05195,1.05193,...,1.05138,1.05167,1.05149,1.05153,1.05085,1.05120,1.05105,1.05106,-0.000387,-0.000309
2017-01-02 08:40:00,1.05196,1.05201,1.05195,1.05195,1.05195,1.05195,1.05183,1.05195,1.05193,1.05199,...,1.05167,1.05149,1.05153,1.05085,1.05120,1.05105,1.05106,1.05135,-0.000067,-0.000477

In [39]:
X_train['open'] = data_train.filter(X_train.index,axis=0).open
X_train['high'] = data_train.filter(X_train.index,axis=0).high
X_train['low'] = data_train.filter(X_train.index,axis=0).low

In [40]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,95,96,97,98,99,PNL_0,PNL_1,open,high,low
2017-01-02 08:20:00,1.05196,1.05201,1.05196,1.05196,1.05196,1.05201,1.05195,1.05195,1.05195,1.05195,...,1.05138,1.05167,1.05149,1.05153,1.05085,-0.000493,-0.000057,1.05153,1.05153,1.05084
2017-01-02 08:25:00,1.05201,1.05196,1.05196,1.05196,1.05201,1.05195,1.05195,1.05195,1.05195,1.05183,...,1.05167,1.05149,1.05153,1.05085,1.05120,-0.000102,-0.000293,1.05085,1.05138,1.05082
2017-01-02 08:30:00,1.05196,1.05196,1.05196,1.05201,1.05195,1.05195,1.05195,1.05195,1.05183,1.05195,...,1.05149,1.05153,1.05085,1.05120,1.05105,-0.000609,-0.000242,1.05120,1.05128,1.05098
2017-01-02 08:35:00,1.05196,1.05196,1.05201,1.05195,1.05195,1.05195,1.05195,1.05183,1.05195,1.05193,...,1.05153,1.05085,1.05120,1.05105,1.05106,-0.000387,-0.000309,1.05121,1.05146,1.05082
2017-01-02 08:40:00,1.05196,1.05201,1.05195,1.05195,1.05195,1.05195,1.05183,1.05195,1.05193,1.05199,...,1.05085,1.05120,1.05105,1.05106,1.05135,-0.000067,-0.000477,1.05106,1.05144,1.05101

In [41]:
print('target 0: ', sum(bt_train==0))
print('target 1: ', sum(bt_train==1))
print('target 2: ', sum(bt_train==2))
print('target 3: ', sum(bt_train==3))

target 0:  11216
target 1:  11480
target 2:  3569
target 3:  3325

In [42]:
from keras.models import Sequential
from keras.utils import to_categorical
from sklearn.preprocessing import MinMaxScaler
from keras.layers import Dense, Dropout, Activation, LSTM, Embedding
from keras.optimizers import RMSprop, SGD

In [43]:
X_train_PNL_0 = X_train.PNL_0
X_train_PNL_1 = X_train.PNL_1

X_train = np.array(X_train[[col for col in X_train.columns if col!='PNL_0' and col!='PNL_1']])

In [12]:
scaler = MinMaxScaler(feature_range=(0, 1))
X_train = scaler.fit_transform(X_train)
X_train = X_train.reshape(X_train.shape[0],1,X_train.shape[1])
y_train = to_categorical(bt_train,num_classes=4)

In [44]:
y_train = to_categorical(bt_train,num_classes=4)

In [45]:
X_train.shape, bt_train.shape

((29590, 103), (29590,))

In [48]:
model = Sequential()
model.add(Embedding(X_train.shape[0],X_train.shape[1]))
model.add(LSTM(16,input_shape=(X_train.shape[0],X_train.shape[1]),activation='tanh', return_sequences=True))
model.add(Dropout(0.5))
model.add(LSTM(32, activation='softmax'))
model.add(Dropout(0.5))
model.add(Dense(4, activation='softmax'))

model.compile(loss='categorical_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

In [49]:
(23662/23662)/100, (23662/18600)/100, (23662/17718)/100, (23662/12539)/100

(0.01, 0.012721505376344087, 0.01335478044926064, 0.01887072334316931)

In [50]:
from sklearn.utils import class_weight

c_w = class_weight.compute_class_weight('balanced',np.unique(bt_train),bt_train)
print(c_w)

[ 0.65954886  0.64438153  2.07270944  2.22481203]

In [ ]:
#model.fit(X_train, y_train, epochs=50, batch_size=1000)
#model.fit(X_train, y_train, epochs=100, batch_size=500,class_weight={0:1, 1:1, 2:5, 3:5})
model.fit(X_train, y_train, epochs=100, batch_size=1000, class_weight=c_w)

Epoch 1/100
29590/29590 [==============================] - 49s - loss: 1.3702 - acc: 0.3572
Epoch 2/100
29590/29590 [==============================] - 48s - loss: 1.3202 - acc: 0.3807
Epoch 3/100
29590/29590 [==============================] - 48s - loss: 1.2895 - acc: 0.3826
Epoch 4/100
29590/29590 [==============================] - 48s - loss: 1.2750 - acc: 0.3864
Epoch 5/100
29590/29590 [==============================] - 48s - loss: 1.2661 - acc: 0.3818
Epoch 6/100
29590/29590 [==============================] - 48s - loss: 1.2563 - acc: 0.3862
Epoch 7/100
29590/29590 [==============================] - 49s - loss: 1.2533 - acc: 0.3884
Epoch 8/100
29590/29590 [==============================] - 48s - loss: 1.2478 - acc: 0.3873
Epoch 9/100
29590/29590 [==============================] - 49s - loss: 1.2445 - acc: 0.3853
Epoch 10/100
29590/29590 [==============================] - 49s - loss: 1.2417 - acc: 0.3849
Epoch 11/100
29590/29590 [==============================] - 49s - loss: 1.2406 - acc: 0.3861
Epoch 12/100
29590/29590 [==============================] - 48s - loss: 1.2395 - acc: 0.3862
Epoch 13/100
29590/29590 [==============================] - 50s - loss: 1.2388 - acc: 0.3830
Epoch 14/100
29590/29590 [==============================] - 49s - loss: 1.2380 - acc: 0.3826
Epoch 15/100
29590/29590 [==============================] - 49s - loss: 1.2373 - acc: 0.3876
Epoch 16/100
29590/29590 [==============================] - 49s - loss: 1.2382 - acc: 0.3872
Epoch 17/100
29590/29590 [==============================] - 49s - loss: 1.2376 - acc: 0.3877
Epoch 18/100
29590/29590 [==============================] - 48s - loss: 1.2371 - acc: 0.3812
Epoch 19/100
29590/29590 [==============================] - 48s - loss: 1.2374 - acc: 0.3825
Epoch 20/100
29590/29590 [==============================] - 49s - loss: 1.2374 - acc: 0.3858
Epoch 21/100
29590/29590 [==============================] - 48s - loss: 1.2366 - acc: 0.3844
Epoch 22/100
29590/29590 [==============================] - 49s - loss: 1.2366 - acc: 0.3882
Epoch 23/100
29590/29590 [==============================] - 49s - loss: 1.2366 - acc: 0.3858
Epoch 24/100
29590/29590 [==============================] - 49s - loss: 1.2369 - acc: 0.3860
Epoch 25/100
29590/29590 [==============================] - 49s - loss: 1.2365 - acc: 0.3866
Epoch 26/100
29590/29590 [==============================] - 48s - loss: 1.2369 - acc: 0.3876
Epoch 27/100
29590/29590 [==============================] - 49s - loss: 1.2366 - acc: 0.3849
Epoch 28/100
29590/29590 [==============================] - 49s - loss: 1.2366 - acc: 0.3904
Epoch 29/100
29590/29590 [==============================] - 49s - loss: 1.2364 - acc: 0.3886
Epoch 30/100
29590/29590 [==============================] - 49s - loss: 1.2364 - acc: 0.3857
Epoch 31/100
29590/29590 [==============================] - 49s - loss: 1.2366 - acc: 0.3845
Epoch 32/100
29590/29590 [==============================] - 49s - loss: 1.2368 - acc: 0.3883
Epoch 33/100
29590/29590 [==============================] - 49s - loss: 1.2365 - acc: 0.3827
Epoch 34/100
29590/29590 [==============================] - 49s - loss: 1.2364 - acc: 0.3871
Epoch 35/100
29590/29590 [==============================] - 49s - loss: 1.2362 - acc: 0.3850
Epoch 36/100
29590/29590 [==============================] - 49s - loss: 1.2364 - acc: 0.3895
Epoch 37/100
29590/29590 [==============================] - 49s - loss: 1.2363 - acc: 0.3873
Epoch 38/100
15000/29590 [==============>...............] - ETA: 25s - loss: 1.2366 - acc: 0.3851

In [105]:
data_test = pd.read_csv('./data_guane/EUR-USD_procesados_OHLC_1T_2017-6.csv',index_col=0,
                         parse_dates=True, infer_datetime_format=True)

In [106]:
data_test.head()

                        open     high      low      bid       ask
2017-06-01 00:01:00  1.12390  1.12393  1.12376  1.12382  1.123867
2017-06-01 00:02:00  1.12382  1.12383  1.12371  1.12381  1.123807
2017-06-01 00:03:00  1.12381  1.12381  1.12366  1.12377  1.123775
2017-06-01 00:04:00  1.12377  1.12382  1.12365  1.12366  1.123780
2017-06-01 00:05:00  1.12366  1.12377  1.12364  1.12376  1.123726

In [107]:
window = 100
X_test, y_test_reg, bt_test = EU.build_dataset(data_test, window=window, bid_col='bid', binary_target=True, PNL=True)

In [108]:
print('target 0: ', sum(bt_test==0))
print('target 1: ', sum(bt_test==1))
print('target 2: ', sum(bt_test==2))
print('target 3: ', sum(bt_test==3))

target 0:  7469
target 1:  9312
target 2:  7025
target 3:  5006

In [109]:
X_test['open'] = data_test.filter(X_test.index,axis=0).open
X_test['high'] = data_test.filter(X_test.index,axis=0).high
X_test['low'] = data_test.filter(X_test.index,axis=0).low

X_test_PNL_0 = X_test.PNL_0
X_test_PNL_1 = X_test.PNL_1

X_test = np.array(X_test[[col for col in X_test.columns if col!='PNL_0' and col!='PNL_1']])

scaler = MinMaxScaler(feature_range=(0, 1))
X_test = scaler.fit_transform(X_test)
X_test = X_test.reshape(X_test.shape[0],1,X_test.shape[1])
y_test = to_categorical(bt_test,num_classes=4)

X_test.shape, bt_test.shape

((28812, 1, 103), (28812,))

In [112]:
predict = model.predict_classes(X_test)
np.unique(predict)

28160/28812 [============================>.] - ETA: 0s

array([1])

In [113]:
print('predict 0: ', sum(predict==0))
print('predict 1: ', sum(predict==1))
print('predict 2: ', sum(predict==2))
print('predict 3: ', sum(predict==3))

predict 0:  0
predict 1:  28812
predict 2:  0
predict 3:  0

In [114]:
PNL = sum((predict==1)*X_test_PNL_1 + (predict==0)*X_test_PNL_0)
print('PNL final en train: ', PNL)

PNL final en train:  -0.99906622587

In [26]:
l_zero, l_one = [],[]
count_ones, count_zeros = 0,0
for i in range(len(predict)):
    if predict[i]==1:
        l_zero.append(count_zeros)
        count_zeros = 0
        count_ones += 1
    else:
        l_one.append(count_ones)
        count_zeros += 1
        count_ones = 0
    
    if i==len(predict)-1:
        l_one.append(count_ones)
        l_zero.append(count_zeros)

print('buy mes: ', sum(predict==1)+sum(predict==3))
print('sell mes: ',sum(predict==0)+sum(predict==2))
print('longest buy: ', max(l_one))
print('longest sell: ', max(l_zero))
print('correct target 1: ', np.mean((predict==1)*(bt_test==1)))
print('correct target 0: ', np.mean((predict==0)*(bt_test==0)))
print('correct target 2: ', np.mean((predict==2)*(bt_test==2)))
print('correct target 3: ', np.mean((predict==3)*(bt_test==3)))
print('percision total: ', np.mean(predict==bt_test))

buy mes:  28328
sell mes:  484
longest buy:  10372
longest sell:  88
correct target 1:  0.316916562543
correct target 0:  0.00607385811467
correct target 2:  0.0
correct target 3:  0.0
percision total:  0.322990420658

In [80]:
-0.0013*20

-0.026

In [250]:
sum(predict==1)

907